<h2 id="title">Welcome to Ember</h2>

<h4>Authors</h4>

<ul>
  {{#each model.authors as |author|}}
  <li>{{author.firstName}}</li>
    {{#if author.posts}}
    <ul>
      {{#each author.posts as |post|}}
        <li>{{post.title}}</li>
      {{/each}}
    </ul>
    {{/if}}
  {{/each}}
</ul>

<h4>Posts</h4>

<ul>
  {{#each model.posts as |post|}}
    <li>{{post.title}} {{if post.author (concat 'written by ' post.author.firstName)}}</li>
  {{/each}}
</ul>

<h4>Operations</h4>

<button {{action 'promise'}}>Promise</button>
<button {{action 'sequence'}}>Sequence</button>
<button {{action 'reload'}}>Reload</button>
